/* Global level */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-style: normal;
}

.primary-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #E55473;
}

h3 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

/* Header section */
header {
  width: 100%;
  height: 850px;
  background: rgba(229, 84, 115, 0.10);
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 710px;
  padding-left: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 32px;
}

.left-side h1 {
  font-size: 80px;
  color: #272727;
}

.left-side p {
  text-align: left;
}

.right-side {
  padding-right: 240px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.right-side img {
  width: 635px;
  height: 800px;
}

/* Featured flowers */
.featured {
  margin: 178px 240px 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.featured p {
  max-width: 600px;
}

.products {
  display: flex;
  column-gap: 24px;
  padding-top: 24px;
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.product a {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline;
}

.img-bg {
  width: 464px;
  height: 540px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.product:nth-child(1) .img-bg {
  background-color: rgba(167, 33, 98, 0.15);
}

.product:nth-child(2) .img-bg {
  background-color: rgba(5, 151, 160, 0.15);
}

.product:nth-child(3) .img-bg {
  background-color: rgba(71, 125, 17, 0.15);
}

.product:nth-child(2) img {
  padding-bottom: 50px;
}

.highlights {
  display: flex;
  justify-content: space-evenly;
  padding: 85px 0;
  margin: 0 240px 128px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.highlight img {
  width: 88px;
}

.hot-deal {
  margin-bottom: 128px;
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal .left-side {
  align-items: center;
}

.left-side span {
  color: #E55473;
}

.hot-deal h3 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.hot-deal p {
  text-align: center;
}

.hot-deal .right-side img {
  width: 318px;
  height: 420px;
}

.instagram {
  max-width: 0 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  margin-bottom: 128px;
}

.instagram p {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  max-width: 594px;
}

.card {
  display: flex;
  column-gap: 24px;
}

.coupon {
  background-image: url("assets/Rectangle 9.png");
  height: 449px;
  margin: 0 240px 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.coupon div {
  padding-top: 32px;
  display: flex;
  column-gap: 16px;
}

.coupon input {
  padding: 0 24px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  width: 690px;
  height: 60px;
}

.coupon a {
  text-decoration: none;
  color: white;
}

footer {
  background: #111010;
  height: 449px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

footer h3 {
  color: white;
}

footer span {
  color: #E55473;
}

footer p {
  max-width: 626px;
  text-align: center;
  color: rgba(255, 255, 255, 0.90);
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.40);
}